
/*----------------------- DEFAULT -----------------------*/


html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; /*Impedir que scroll para fora seja impossível*/
    margin: 0;
    font-family: Comic-sans, Arial, Calibri, sans-serif;
    transition: background-color 0.5s ease; /*transition: propriedade tempo estilo*/
    background: linear-gradient(45deg, black, #515151 250%);
}

/*Aplicar estilos gerais aos tipos de texto*/
p, h1, h2, h3{
    margin: 1.5rem 0;
    color: white;
}

h1{
    font-size: 4rem;
}

/*----------------------- Efeitos de Fundo -----------------------*/

/*O brilho amarelo no fundo*/
.color-effect{
    height: 10px;
    opacity: 0;
    position: absolute;
    right: 50%;
    box-shadow: 0 0 500px 80px rgba(255, 255, 0, 0.7);
    z-index: -1;
    animation: color-effect-anim 2s linear forwards 6.5s;
}

@keyframes color-effect-anim{
    0%{
        opacity: 0;
    }

    5%{
        opacity: 1;
    }

    10%{
        opacity: 0;
    }

    15%{
        opacity: 1;
    }

    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


/*----------------------- Conteudo do Site -----------------------*/

.site-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem 2rem;
}

#typewrite1::before{
    content: '';
    background-color: #171717;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 101%;
    height: 100%;
    z-index: 1;
    animation: typewrite 1s forwards;
}

#typewrite2::before{
    content: '';
    background-color: #171717;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 101%;
    height: 100%;
    z-index: 1;
    animation: typewrite 1s forwards 3s;
}

#typewrite1{
    animation: caret-blink .8s 3 1s;
    padding-right: 10px;
    border-right: rgba(255,255,255,0) solid 3px;
}

#typewrite2{
    animation: caret-blink .8s 3 4s;
    padding-right: 10px;
    border-right: rgba(255,255,255,0) solid 3px;
}

@keyframes typewrite {
    0%{
        width: 101%;
    }
    
    100%{
        width: 0%;
    }
}

@keyframes caret-blink {
    0%{
        border-right: rgba(255,255,255,0) solid 3px;
    }

    50%{
        border-right: rgba(255,255,255,1) solid 3px;
    }

    100%{
        border-right: rgba(255,255,255,0) solid 3px;
    }
}

/*----------------------- Form de Contacto -----------------------*/

.contact-form{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 2px groove white;
    border-radius: 25px;
    background: linear-gradient(45deg, #040400 -21%, #1e1e21);
}

@property --y{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --t{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.contact-form::before{
    

    content: '';
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 101.5%;
    height: 101.5%;
    border-radius: 25px;
    z-index: -1;
    background: conic-gradient(yellow var(--y), transparent var(--t));
    box-shadow: 0px 0px 0px yellow;

    animation: contact-bg-anim 4s ease-out 7.5s forwards, contact-bg-glow-anim 1s ease 11.5s forwards;
}

@keyframes contact-bg-glow-anim {
    0%{
        box-shadow: 0px 0px 0px yellow;
    }

    100%{
        box-shadow: 0px 0px 10px yellow;
    }
}

@keyframes contact-bg-anim {
    0%{
        --y: 0deg;
        --t: 10deg;
    }

    100%{
        --y: 360deg;
        --t: 370deg;
    }
}

/*O pin decorativo*/
#pin{
    position: absolute;
    top: 2%;
    right: 1%;
    width: 4rem;
}

/*As caixas de inserir dados*/
.input-field{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: white;
    width: 75%;
}

/*Os butões para inserir dados*/
.input-field input, .input-field textarea{
    border-radius: 25px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-weight: bolder;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

/*O butão para submeter*/
.submit-button input{
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #111;
    padding: 10px;
}

/*Texto predefinição*/
::placeholder{
    opacity: 1;
    font-size: 0.9rem;
}

/*----------------------- Email, Telefone, Etc. -----------------------*/

/*Conteudo de informações extra*/
.more-info{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 90%;
    margin-top: 7.5rem;
    padding: 2rem;
    border: 2px groove white;
    border-radius: 25px;
    box-shadow: 15px 15px rgba(0,0,0,0.5);
    word-wrap: break-word;
}

/*Título das infromações extra*/
.more-info h2{
    margin: 0 0 2rem 0;
}

/*Parágrafo das infromações extra*/
.more-info p{
    margin: 1rem 0 1rem 3rem;
    font-size: 1rem;
}

/*----------------------- Estilos para telemóvel -----------------------*/

@media only screen and (max-width: 600px) {

    .site-content{
        margin: 0;
    }

    .more-info, .contact-form{
        width: 65vw;
    }

}