/*----------------------- DEFAULT -----------------------*/
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-image: url(Images/stars.png);
	position: relative;	
	margin: 0;
	font-family: Comic-sans, Arial, Calibri, sans-serif;
	transition: background-color 0.5s ease;
	background-color: #6E6E6E;
	overflow-x: hidden;
	animation: snowy 30s linear infinite both;
}

p, h1{
	margin: 1.1rem 0;
}

@keyframes snowy{
	0% {
	  background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	50% {
	  background-position: 300px 600px, 275px 600px, -5px 150px;
	}
	100% {
	  background-position: 600px 1200px, 400px 800px, 0px 300px;
	}
  }

/*----------------------- Header -----------------------*/

header {
	position: fixed;
	z-index: 1;
	width: 20%;
	height: 5rem;
	right: 2.5%;
}

/*Conteúdo do header*/
.header-content {
	display: flex;
	height: 100%;
	width: 100%;
}

/*Titulo do header*/
.header-title {
	margin-top: 20vh;
	margin-left: 10vh;
	width: max-content;
	height: max-content;
}

/*Parte espeçifica do titulo header*/
.header-title *:not(span, div) {
	margin: 1rem 0 1rem 1rem;
	color: white;
}

/*Menus do header*/
.header-menus {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 3%;
	align-items: center;
	width: 100%;
	gap: 2.5rem;
}

/*Butões do header*/
.menus a{
	margin: 20px;
	font-size: 20px;
	color: white;
}

/*Header abaixo do hader principal*/
.subheader{
	background-image: url(Images/subheaderbackground.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

/*Butão para fazer scroll para baixo*/
.scroll-down{
	margin: auto;
	background-color: #777;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50px;
	box-shadow: 3.5px 2px #333;
	animation: bounceidle 1s infinite alternate;
}

/*Animação para fazer o botão saltar*/
@keyframes bounceidle {
	0% {
		transform: translateY(0);
		opacity: 0.5;
	}
	100% {
		transform: translateY(10px);
		opacity: 1;
	}
}

/*Butão para fazer download do CV*/
.cvdownload-fixed{
	position: fixed;
    margin: 0 auto;
    display: flex;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/*Butão de contacto*/
#contactbutton{
	font-weight: bold;
	font-size: 1rem;
	border-radius: 25px;
	padding: 0.5rem;
	background: linear-gradient(to top, #1b1c1d, black);
	border: 0;
	color: white;
	width: 150px;
	height: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/*Imagem do butão de contacto*/
#contactbutton img{
	animation: phone-anim 2.5s ease infinite;
}

/*Animação da imagem do butão de contacto*/
@keyframes phone-anim{
	10%{
		transform: rotate(0deg);
	}
	
	20%{
		transform: rotate(30deg);
	}
	
	30%{
		transform: rotate(0deg);
	}
	
	40%{
		transform: rotate(30deg);
	}
	
	50%{
		transform: rotate(0deg);
	}
}

/*Butão para fazer download do butão*/
#cvdownload{
	font-weight: bold;
	font-size: 2rem;
	border-radius: 25px;
	padding: 0.5rem;
	background: linear-gradient(to top, #1b1c1d, transparent);
	border: 0;
	color: white;
	width: 250px;
	box-shadow: -2px 4px #161617;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 1;
	animation: bounceidle 2s infinite alternate;
}

/*Imagem do butão de download do CV*/
#cvdownload img{
	width: 30px;
	margin: 0;
}

/*----------------------- Conteúdo do website -----------------------*/
.site-content{
	display: flex;
	flex-direction: column;
	margin: 3rem 7rem 0 7rem;
}

/*Alterar os vários estágios da página*/
.stage0, .stage1, .stage2, .stage3, .stage4{
	transition: transform 1s ease, opacity 1s ease;
	color: white;
	opacity: 0;
}

.menus{
	transition: opacity .3s ease;
}

h1{
	font-size: clamp(25px,5vw,50px);
}

/*Os efeitos de luz no fundo*/
.color-effect{
	height: 100px;
	position: absolute;
	right: 100%;
	box-shadow: 0 0 200px 50px rgba(255, 111, 0, 0.7);
	z-index: -1;
}

/*Efeitos de luz no fundo alinhados ao centro*/
.color-effect-center{
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 0 200px 50px rgba(255, 111, 0, 0.7);
	z-index: -1;
}

/*Efeitos de luz no fundo alinhados à direita*/
.color-effect-right{
	height: 100px;
	position: absolute;
	left: 100%;
	box-shadow: 0 0 200px 50px rgba(255, 111, 0, 0.7);
	z-index: -1;
}

/*Texto de gradiente para condizer com as luzes de fundo*/
.gradient-text{
	font-weight: bolder;
	background: linear-gradient(to right, #f99344, #fb6c4a);
	/*-webkit-background-clip: text;*/
	background-clip: text;
	color: transparent;
}

span{
	position: relative;
}

span::before{
	content: '';
	position: absolute;
	/*width: 100%;*/
	left: 0;
	top: 95%;
	height: 5px;
	background: linear-gradient(to right, #f99344, #fb6c4a);
	border-radius: 25px;
	transition: width 1s ease;
}

.info-box{
	margin: 5rem 0 20rem 0;
}

.info-box > div, .info-box > p, .info-box > img, .space-right > p{
	margin-left: 3%;
	margin-right: 3%;
	font-size: 20px;
}

.space-right{
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-content: end;
	flex-wrap: wrap;
	text-align: right;
}

.habilidades{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	column-gap: 7rem;
}

.habilidades-caroussel{
	margin: 5rem 0 40rem 0;
	width: 100%;
	height: 50px;
	text-align: center;

	color: white;
	transition: transform 1s ease, opacity 1s ease;
	
	display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-holder{
	width: 50%;
    min-height: 80px;
    overflow: hidden;
}

.icons{
	display: flex;

	gap: 1rem;
	width: fit-content;

	animation: moveCarousel 20s linear infinite;
}

.icons:hover{
	animation-play-state: paused;
}

@keyframes moveCarousel {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-1001px);
    }
}

@keyframes moveIconDesc{
	0%{
		transform: translateY(0px);
		opacity: 0;
	}

	100%{
		transform: translateY(50px);
		opacity: 1;
	}
}


.icon-desc{
	width: 40%;
	height: 40em;
	margin-top: 1rem;
	opacity: 0;
}

.icon-thumbnail{
	width: 60%;
	margin: 0 auto;
	position: relative;
}

.icon-thumbnail h1{
	margin: 0;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

.icon-desc p{
	text-align: justify;
}

.habilidades-graph .progress-bar-bg{
	margin: 10px 30% 8px 30px;
}

.progress-bar-bg{
	display: flex;
	width: 20rem;
	height: 10px;
	background-color: #111;
	border-radius: 25px;
	box-shadow: -1px 3px #000;
}

.progress-bar{
	height: 100%;
	background-color: #FFF;
	border-radius: 25px;
	width: 10%;
	transition: width 3s ease, background-color 3s ease;
}

.projetos{
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	gap: 5%;
}

.projetos-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.projetos-item button{
	width: 8rem;
	font-size: 1.5rem;
	background-color: #222;
	color: white;
	border-radius: 50px;
	margin-top: 2rem;
	position: relative;
}

.projetos-item button::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 90%;
	background: linear-gradient(to right, black 30%, orange , black 70%);
	z-index: -1;
	border-radius: 25px;
	padding: 5px;
	top: -3.4px;
	left: -5px;
}

.projetos-item button:hover::before{
	background: linear-gradient(to right, black 10%, orange , black 90%);
}

.projetos-item h2{
	text-align: center;
	font-size: 25px;
}

.projetos-item p{
	text-align: center;
	font-size: 18px;
}

.projetos-item img{
	width: 35%;
}


#display-text{
	text-align: center;
}





/*Animation for the light of the sun and rocket and ufo*/
#asteroid1, #asteroid2, #asteroid3{
	position: absolute;
	bottom: 53vh;
    left: 45vw;
	z-index: -1;
	animation: asteroid-anim 1s ease infinite alternate;
}

#asteroid2{
	bottom: 41vh;
    left: 82vw;
    width: 50px;
	animation-delay: 0.7s;
}

#asteroid3{
	bottom: 33vh;
    left: 8vw;
    width: 60px;
	animation-delay: 0.25s;
}

@keyframes asteroid-anim {
	0%{
		transform: translateY(0px) rotate(0deg);
	}

	100%{
		transform: translateY(10px) rotate(15deg);
	}
}

#ufo-bg{
	position: absolute;
	left: -25vw;
	transform: translateY(-70%);
	z-index: -1;
	animation: ufo-anim 10s ease-in-out infinite backwards;
}

#ufo-bg img{
	position: absolute;
}

#ufolight{
	z-index: 1;
	bottom: -400px;
	filter: drop-shadow(0px 0px 30px #00A2E8);

	animation: ufo-light-anim 2s linear infinite;
}

#ufo{
	z-index: 2;
	top: 0;
	filter: drop-shadow(0px 0px 10px orange);
}


@keyframes ufo-anim {
	0%{
		left: -25vw;
		transform: translateY(-70%);
	}

	12%{
		left: 35vw;
		transform: translateY(-5%) rotateZ(-35deg);
	}

	20%{
		left: 30vw;
		transform: translateY(-5%) rotateZ(25deg);
	}

	35%{
		left: 125vw;
		transform: translateY(70%);
	}

	100%{
		left: 125vw;
		transform: translateY(70%);
	}
}

@keyframes ufo-light-anim {
	0%{
		opacity: 1;
	}

	25%{
		opacity: 0;
	}

	50%{
		opacity: 1;
	}

	75%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
	
}

#rocket{
	position: absolute;
    bottom: 11vh;
    left: -9vw;

    z-index: -2;	
	animation: rocket-anim 10s linear forwards infinite;
}

@keyframes rocket-anim{
	0%{
		bottom: 11vh;
    	left: -9vw;
		transform: rotate(0deg);
	}

	50%{
		bottom: 45vh;
    	left: 45vw;
		transform: rotate(45deg);
	}

	100%{
		bottom: 11vh;
    	left: 109vw;
		transform: rotate(110deg);
	}
}

#rocket-glow{
	position: absolute; 
	left: 25%; 
	bottom: 30%; 
	box-shadow: 0px 0px 15px 20px #ff6a00; 
	z-index: -1;
	animation: rocket-glow-anim 3s ease-in-out infinite;
}

@keyframes rocket-glow-anim {
	0%{
		box-shadow: 0px 0px 15px 20px #ff6a00;
	}

	50%{
		box-shadow: 0px 0px 45px 25px #ff6a00;
	}

	100%{
		box-shadow: 0px 0px 15px 20px #ff6a00;
	}
}


#sun-glow{
	height: 100px; 
	position: absolute; 
	left: 50%; 
	bottom: -8%; 
	box-shadow: 0px 0px 1000px 400px #FFBC00; 
	z-index: -1;
	animation: sun-glow-anim 5s ease-in-out infinite;
}

#sun{
	width: 80%;
	height: 15rem;

	position: absolute;
	z-index: -1;
	border-radius: 100%;

	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes sun-glow-anim {
	0%{
		box-shadow: 0px 0px 1000px 400px #FFBC00; 
	}

	30%{
		box-shadow: 0px 0px 1000px 420px #FFBC00; 
	}

	50%{
		box-shadow: 0px 0px 1000px 400px #FFBC00; 
	}

	70%{
		box-shadow: 0px 0px 1000px 420px #FFBC00;
	}

	100%{
		box-shadow: 0px 0px 1000px 400px #FFBC00; 
	}
}

@media only screen and (max-width: 1000px){
	.habilidades{
		flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
	}
}

@media only screen and (max-width: 600px) {
	.info-box{
		flex-direction: column;
		align-content: center;
		flex-wrap: wrap;
	}
	
	.projetos {
		grid-template-columns: 1fr;
		margin-bottom: 50vh;
	}
	
	.space-right{
		text-align: center;
	}
	
	.site-content{
		margin: 1.5rem 3.5rem 0 3.5rem;
		text-align: center;
	}
	
	.header-title{
		margin: auto;
	}
	
	.menus{
		display: flex;
		justify-content: space-evenly;
	}
	
	.menus a{
		margin: 10px;
		font-size: 0.7rem;
	}
	
	.gradient-text{
		display: block;
	}
	
	.habilidades-graph .progress-bar-bg{
		margin: 10px auto 8px auto;
	}

	.icons-holder{
		width: 110%;
	}

	.icon-desc{
		width: 100%;
	}

	#sun{
		width: 100% !important;
        height: 13rem !important;
	}

	#sun-glow{
		bottom: -1%;
		box-shadow: 0px 0px 1000px 100px #FFBC00;
	}

	@keyframes sun-glow-anim {
		0%{
			box-shadow: 0px 0px 1000px 100px #FFBC00;
		}
	
		30%{
			box-shadow: 0px 0px 1000px 120px #FFBC00;
		}
	
		50%{
			box-shadow: 0px 0px 1000px 100px #FFBC00;
		}
	
		70%{
			box-shadow: 0px 0px 1000px 120px #FFBC00;
		}
	
		100%{
			box-shadow: 0px 0px 1000px 100px #FFBC00;
		}
	}
}


